name: Semantic release
on: [pull_request]

jobs:
  semantic-release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
        with:
          fetch-depth: 0
      - name: Dry-run release
        uses: tradeshift/actions-semantic-release@v2
        id: semantic-release
        with:
          branches: |
            [
              'master'
            ]
          dry_run: true
          check_name: Semantic release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Lint commit messages
        uses: tradeshift/commitlint-github-action@v5